.header{
  background: #00e00b; /* Old browsers */
background: -moz-linear-gradient(top, #00e00b 0%, #006653 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00e00b 0%,#006653 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00e00b 0%,#006653 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e00b', endColorstr='#006653',GradientType=0 ); /* IE6-9 */
  height: 50px;
  margin: 0px;
 position: fixed;
 width: 100%;
}

.top{
  margin: 0px;
  /*background-image: url("/images/swaneeRiver.jpg");*/
  /*background-color: black;*/
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  max-height: 600px;
  height: 500px;
  overflow: auto;
}

body{
  margin:0px;
  background-image: url("/images/tempback.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #16a9df;
  margin-top: 50px;
}

 a{
   text-decoration: none;
   color: black;
 }

.left{
  float: left;
  margin-top: 15px;
  margin-left: 4%;
  font:sans-serif;
  font-style: normal;
  font-weight: bolder;
  text-decoration: none;
}

.email{
  margin-left: 20px;
}

.right{
  float: right;
  margin-top: 0px;
  margin-right: 4%;
}

h2{
  margin: 10px;
  font-weight: bold;
}

.logo{
  width: 50%;
  height: auto;
  float: right;
  margin-right: 5%;
  margin-top: 6%;
  padding-bottom: 20px;
  max-height: 600px;
  max-width:600px;



}


p{
  height: 100px;
  float: left;
  width:35%;
  background-color: green;
  /*margin-top: -250px;*/
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  text-align: center;
  font-size: 30pt;
  margin-top: 55px;
  border-top: 0px;
  margin-left:
  padding-left:0% ;
  overflow: hidden;
  text-align: center;
  font: sans-serif;
}

.second{
background-color: green;
max-height: 500px;
height: 500px;
}
.treetop{
  width:100%;
  height: auto;
  overflow: hidden;
}
